@import "./reset";
@import "font-awesome";
$gray: #999;
$blue: #38aef0;

/*
 *= require font-awesome
 */

//共通------------------------------------
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

//main------------------------------------
.chat-main {
  width: calc(100vw - 300px);
  float: right;
  .main-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    .left-box {
      margin-top: 35px;
      .current-group {
        font-weight: bold;
        font-size: 20px;
      }
      .member-list {
        color: $gray;
        margin-top: 15px;
        font-size: 12px;
        display: flex;
        .member {
        }
      }
    }
    a {
    .edit-btn {
      color: $blue;
      margin-top: 28px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      border: solid 1px $blue;
      position: absolute;
      right: 40px;
      float: right;
      }
    }
  }

  .main-chat {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 0 40px;
    .messages {
      padding-top: 40px;
      overflow: scroll;
      .message {
        margin-bottom: 40px;
        .message-upper {
          display: flex;
          p:nth-of-type(1) {
            font-weight: bold;
            font-size: 16px;
            color: #434a54
          }
          p:nth-of-type(2) {
            margin-left: 10px;
            font-size: 12px;
            color: $gray;
          }
        }
        p {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
  }

//form------------------------------------

  .form {
    background-color: #ddd;
    height: 90px;
    padding: 20px 40px;

    form {
      display: flex;
      .input-box {
        position: relative;
        width: 100%;
      }
        .text-area {
          width: 100%;
          padding: 0 10px;
          height: 50px;
          border-style: none;
        }
        .upload-label {
          font-size: 20px;
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
          .image-file {
            display: none;
          }
        }
      .submit-btn {
        width: 100px;
        padding: 0 30px;
        background-color: $blue;
        height: 50px;
        color: white;
        margin-left: 15px;
      }
    }
  }
}

//side------------------------------------
.side-chat {
  float: left;
  width: 300px;
  color: white;
  .side-upper {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    background-color: #253141;
    height: 100px;
    .side-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        a {
          color: white;
        }
        li {
          padding-left: 5px
        }
      }
    }
  }
  .groups {
    padding: 20px 20px 0;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .group {
      padding-bottom: 40px;
      p {
        padding-bottom: 5px;
        font-size: 15px;
      }
      p:nth-of-type(2) {
        font-size: 11px;
      }
    }
  }
}

//notice------------------------------------
.notice {
  background-color: $blue;
  color: white;
  width: 100vw;
  text-align: center;
}

